@model CarRental.Database.Miejsca

@{
    ViewBag.Title = "Edycja Miejsca Pracy | CarRental";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2 class="page-header">Edycja Miejsca Pracy</h2>
<div class="area">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="col-md-8">
            <div class="row">
                @Html.ValidationSummary()
                <form id="login-form" action="/place/EditWorkerPlace" method="post" role="form">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4 control-label">
                                <label>Ulica:</label>
                            </div>
                            <div class="col-md-6">
                                @Html.TextBoxFor(x => x.id_miejsca, new { @class = "hidden" })
                                @Html.TextBoxFor(x => x.ulica, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4 control-label">
                                <label>Numer lokalu:</label>
                            </div>
                            <div class="col-md-6">
                                @Html.TextBoxFor(x => x.numer, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4 control-label">
                                <label>Miejscowość:</label>
                            </div>
                            <div class="col-md-6">
                                @Html.TextBoxFor(x => x.miejscowosc, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4 control-label">
                                <label>Kod pocztowy:</label>
                            </div>
                            <div class="col-md-6">
                                @Html.TextBoxFor(x => x.kod_pocztowy, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4 control-label">
                                <label>Numer telefonu:</label>
                            </div>
                            <div class="col-md-6">
                                @Html.TextBoxFor(x => x.numer_tel, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3 col-md-offset-4">
                                <input type="submit" value="Zarejestruj" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    }
</div>


