@model IEnumerable<CarRental.Database.Miejsca>

@{
    ViewBag.Title = "Miejsca firmy | CarRental";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2 class="page-header">Miejsca firmy</h2>
<div class="area">
   @using (Html.BeginForm())
   {
       @Html.AntiForgeryToken()
       <div class="col-md-12">
           <div class="row">
               @if(TempData["Edit"] != null)
               {
                   <div class="alert alert-success">Pomyślnie edytowano miejsce pracy o ID: @TempData["Edit"]</div>
               }
               @if (TempData["Delete"] != null)
               {
                    <div class="alert alert-success">Pomyślnie usunięto miejsce pracy o ID: @TempData["Delete"]</div>
               }
               <table class="table">
                   <tr>
                       <th>
                           <label>ID</label>
                       </th>
                       <th>
                           <label>Ulica</label>
                       </th>
                       <th>
                           <label>Numer lokalu</label>
                       </th>
                       <th>
                           <label>Kod pocztowy</label>
                       </th>
                       <th>
                           <label>Miejscowość</label>
                       </th>
                       <th>
                           <label>Numer telefonu</label>
                       </th>
                       <th>
                           @Html.ActionLink("Dodaj Miejsce", "WorkerPlace", "place", new { }, new { @class = "btn-sm btn-primary" })
                       </th>
                   </tr>
                   @foreach (var item in Model)
                   {
                       Model.Count();
                       <tr>
                           <td>@item.id_miejsca</td>
                           <td>@item.ulica</td>
                           <td>@item.numer</td>
                           <td>@item.kod_pocztowy</td>
                           <td>@item.miejscowosc</td>
                           <td>@item.numer_tel</td>
                           <td>
                               <div class="btn-group btn-group-sm" role="group">
                                   @Html.ActionLink("Edytuj", "EditWorkerPlace", "place", new { id = item.id_miejsca }, new { @class = "btn btn-default" })
                                   @Html.ActionLink("Usuń", "DeleteWorkerPlace", "place", new { id = item.id_miejsca }, new { @class = "btn btn-default" })
                               </div>
                           </td>
                       </tr>
                   }
               </table>
               <hr style="width: 75%;"/><strong>Ilość wpisów: @Model.Count()</strong>
           </div>
       </div>
   }
</div>
